form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}

#model {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: x-large;
}

#score_tag {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: x-large;
}

#agreement {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: x-large;
}

#subjectivity {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: x-large;
}

#confidence {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: x-large;
}

#irony {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: x-large;
}